<!--
  <instruct-3.html>
-->
<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="UTF-8">
        <link rel="icon" href="/static/favicon.ico" />
        <meta http-equiv="pragma" content="no-cache" />
        <title>Instruct-3</title>
    </head>
    <body>
        <!--container-instructions-->
        <div id="container-instructions">
            <h1 id="instr_header"> Instructions </h1>
            <div class="instructions" id="instruct">
                <div class="well">
                    <p id="toptext" style="color:black;">
                            You will then see three objects of the same shape fall. <br>
                            The top one falls on a flat floor. The two below, <b>A</b> and <b>B</b>, fall on a different, uneven floor. <br>
                            One of A and B is made of <b>the same material</b> as the top object. The other is made of a slightly different material.
                    </p>
                </div>

                <tr><td><br/></td></tr>

                <table id="moviescreen" align="center">
                    <tr>
                        <td>
                            <br>
                            <button type="button" id="nextbutton" class="incenterdiv btn btn-success btn-lg">
                                Next
                                <span class="glyphicon glyphicon-arrow-right"></span>
                            </button>
                        </td>
                    </tr>
                </table> <!--END moviescreen-->

            </div> <!--END container-instructions-->
        </div>
    </body>
</html>
