<!--
  <Instruct-2.html>

  @2020-05-24
-->
<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="UTF-8">
        <link rel="icon" href="/static/favicon.ico" />
        <meta http-equiv="pragma" content="no-cache" />
        <title>Instruct-1</title>
    </head>
    <body>
        <!--container-instructions-->
        <div id="container-instructions">
            <h1 id="instr_header"> Instructions </h1>
            <div class="instructions" id="instruct">
                <div class="well">
                    <p id="toptext" style="color:black; font-family: 'Lato', sans-serif; font-size: 15pt">
                            Good job on completing the quiz! Now the experiment is going to start. <br>
                            During the experiment, for some trials you might be unsure about your judgement, just trust your gut feelings.<br>
                            Click "Start" to start the experiment, you will need to complete <span id="trialNumber" style="font-weight:bold"></span> trials. 
                    </p>
                </div>
                



                <tr><td><br/></td></tr>

                <table id="moviescreen">
                    <tr>
                        <td>
                            <br>
                            <button type="button" id="nextbutton" class="btn btn-success btn-lg">Start </button>
                        </td>
                    </tr>
                </table> <!--END moviescreen-->             
            </div> <!--END container-instructions-->
        </div>
    </body>
</html>
        