<!--
  <doMore.html>

  @2020-05-24
-->
<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="UTF-8">
        <link rel="icon" href="/static/favicon.ico" />
        <meta http-equiv="pragma" content="no-cache" />
        <title>doMore</title>
    </head>
    <body>
        <!--WRAPPER-->
        <div id="wrapper" style="width: 162vmin;">
            <div class="header1" stype="padding-left: 100px">
                <h2>Do you want to complete another 100 judgements? </h21>
            </div>

            <div style="float:left; margin-left:40vmin">
                <br>
                <button type="button" class="btn btn-danger btn-lg continue" class = "continue" name="continue" value="yes">Yes</button>
                <button type="button" class="btn btn-danger btn-lg continue" class = "continue" name="continue" value="no">NO</button>

            </div>        
        </div>
    </body>
</html>
        