<!--
  <ready.html>
-->
<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="UTF-8">
        <link rel="icon" href="/static/favicon.ico" />
        <meta http-equiv="pragma" content="no-cache" />
        <title>Ready</title>
    </head>
    <body>
        <!--container-instructions-->
        <div id="container-instructions">
            <h1 id="instr_header"> Ready </h1>
            <div class="instructions" id="instruct">
                <div class="well">
                    <p id="toptext" style="color:black;">
                            That was the practice. <br>
                            Now the real objects begin. You get <b>one try</b> for each object, <br>
                            and you will not be told whether it worked. Press Next to begin.
                    </p>
                </div>

                <tr><td><br/></td></tr>

                <table id="moviescreen" align="center">
                    <tr>
                        <td>
                            <br>
                            <button type="button" id="nextbutton" class="incenterdiv btn btn-success btn-lg">
                                Next
                                <span class="glyphicon glyphicon-arrow-right"></span>
                            </button>
                        </td>
                    </tr>
                </table> <!--END moviescreen-->

            </div> <!--END container-instructions-->
        </div>
    </body>
</html>
