<!--
  <instructions.html>
-->
<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="UTF-8">
        <link rel="icon" href="/static/favicon.ico" />
        <meta http-equiv="pragma" content="no-cache" />
        <title>Instructions</title>
    </head>
    <body>
        <!--container-instructions-->
        <div id="container-instructions">
            <h1 id="instr_header"> Instructions </h1>
            <div class="instructions" id="instruct">
                <div class="well">
                    <p id="toptext" style="color:black;">
                            In this experiment you will see a soft object dropped onto a surface. <br>
                            Your task is to decide <b>where to grip it</b> so that it can be picked up and moved. <br>
                            The experiment takes about 5 minutes.
                    </p>
                </div>

                <tr><td><br/></td></tr>

                <table id="moviescreen" align="center">
                    <tr>
                        <td>
                            <br>
                            <button type="button" id="nextbutton" class="incenterdiv btn btn-success btn-lg">
                                Next
                                <span class="glyphicon glyphicon-arrow-right"></span>
                            </button>
                        </td>
                    </tr>
                </table> <!--END moviescreen-->

            </div> <!--END container-instructions-->
        </div>
    </body>
</html>
