<!--
  <instruct-1.html>
-->
<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="UTF-8">
        <link rel="icon" href="/static/favicon.ico" />
        <meta http-equiv="pragma" content="no-cache" />
        <title>Instruct-1</title>
    </head>
    <body>
        <!--container-instructions-->
        <div id="container-instructions">
            <h1 id="instr_header"> Instructions </h1>
            <div class="instructions" id="instruct">
                <div class="well">
                    <p id="toptext" style="color:black;">
                            On each trial, a soft object falls and settles onto the floor. <br>
                            A green rectangle on the floor marks the <b>target</b>&mdash;where the object should end up. <br>
                            Watch the object land. How it wobbles and settles tells you what it is made of.
                    </p>
                </div>

                <tr><td><br/></td></tr>

                <table id="moviescreen" align="center">
                    <tr>
                        <td>
                            <br>
                            <button type="button" id="nextbutton" class="incenterdiv btn btn-success btn-lg">
                                Next
                                <span class="glyphicon glyphicon-arrow-right"></span>
                            </button>
                        </td>
                    </tr>
                </table> <!--END moviescreen-->

            </div> <!--END container-instructions-->
        </div>
    </body>
</html>
